.event-item-container {
  text-align: justify;
}

.event-item-props {
  padding-top: 20px;
  padding-left: 30px;
}

.event-img {
  height: 100%
}

.event-description {
  padding: 20px;
}

.name {
  font-size: 30px;
  font-weight: bold;
  //align-self: center;
}

.add-cart-btn {
  position: relative;
  align-self: center;
}

.prop {
  color: green;
  font-size: 20px;
  margin-top: 30px;
}

