.event-item-container {
  text-align: justify;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  box-shadow: 0 0.5rem 1rem rgba(#000,.2);
  transition: all .4s;
  position: relative;

  @media screen and (max-width: 960px) {
    height: auto;
  }

  &:hover {
    transform: scale(1.05);
  }

  .custom-button {
    width: 50%;
    font-size: 12px;

    @media screen and (max-width: 960px) {
      font-size: 60%;
    }
  }
  
}

.event-item-props {
  padding-top: 20px;
  padding-left: 30px;

  @media screen and (max-width: 960px) {
    width: 100%;
    height: auto;
    font-size: 70%;
  }
}

.event-img {
  height: 100%;

	&:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
		
		& .content {
			opacity: 0.9;
		}
	}
}

.event-description {
  padding: 20px;

  @media screen and (max-width: 960px) {
    font-size: 60%;
  }
}

.name {
  font-size: 30px;
  font-weight: bold;
  //align-self: center;

  @media screen and (max-width: 960px) {
    font-size: 90%;
  }
}

.add-cart-btn {
  padding-top: 4rem;
  align-self: center;

  @media screen and (max-width: 960px) {
    font-size: 80%;
    width:50%;
    padding-bottom: 20px;
    padding-top: 60px;
  }
}

.prop {
  color: green;
  font-size: 20px;
  margin-top: 30px;

  @media screen and (max-width: 960px) {
    font-size: 80%;
    width:100%;
    padding-bottom: 10px;
    margin-top: 10px;
  }
}

