.event-item-container {
  text-align: justify;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  box-shadow: 0 0.5rem 1rem rgba(#000,.2);
  transition: all .4s;

  &:hover {
    transform: scale(1.05);
  }

  .custom-button {
    width: 50%;
    font-size: 12px;
  }
  
}

.event-item-props {
  padding-top: 20px;
  padding-left: 30px;
}

.event-img {
  height: 100%;

	&:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
		
		& .content {
			opacity: 0.9;
		}
	}
}

.event-description {
  padding: 20px;
}

.name {
  font-size: 30px;
  font-weight: bold;
  //align-self: center;
}

.add-cart-btn {
  position: relative;
  align-self: center;
}

.prop {
  color: green;
  font-size: 20px;
  margin-top: 30px;
}

